<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
 <title><%= yield(:title) %> | About Page</title>  </head>
  <body>
    <h1>About</h1>
    <p>testing the about page ...</p>
  </body>
</html>

