<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <head>
 <title><%=yield(:title) %> | Help Page</title>  </head>
  <body>
    <h1>Help</h1>
    <p>testing the help page ...</p>
  </body>
<html>

